<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type="radio"] + label:before, [type="radio"] + label:after {
        left: 0;
        right: -25px;
    }

    input[type="radio"] + label {
        margin-right: 40px;
    }

    [type="text"] + i:before, [type="text"] + i:after {
        left: 0;
        right: -25px;
    }

    input[type="text"] + i {
        margin-right: 40px;
    }


    .table tbody tr .green {
        display: none;
    }

    .table tbody tr:last-child .green {
        display: block;
    }

    .table tbody tr .red {
        display: block;
    }
    /*.card-panel{
        padding-left:25px;
        padding-right:25px;
    }*/
    /*.card-panel {
        min-height: 450px !important;
    }*/
    /*#EmailTable a {
        display:none
    }*/

    tbody {
display:block;
height:auto;
overflow:auto;
}
thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
thead {
width: calc( 100% - 1em )
}
table {
width:100%;
}
</style>

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s12 card-panel">
                <div>
                    <div>
                        <div>
                            <h1>
                                <i class="mdi-content-select-all green-text"></i>
                                <span class="red-text">{{RES.SCREEN_RECEIPTCREATE.APP_LBL_TITLE}}</span>
                                <!--<span class="white" id="id-text2" >Screen</span>-->
                                <label class="block clearfix">

                                </label>
                            </h1>
                        </div>

                        
                    </div>
                    
                    
                        <div class="position-relative">
                            <div class="visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">

                                        <div class="space-6"></div>
                                        
                                        <form action="#">
                                            <!--<fieldset>-->

                                            <div class="space-4"></div>
                                            <div class="row">
                                                <div class="col s12 l5 m4">
                                                    <h5>{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_RECEIPTTYPE}}:- <strong> {{modelInput.RecieptType}}</strong></h5>
                                                </div>
                                                <div class="col s12 l3 m4">
                                                    <h5>{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_RECEIPTNO}}:- <strong>{{modelInput.RecieptNo}}</strong></h5>
                                                </div>
                                                <div class="col s12 l4 m4">
                                                    <h5>{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_RECEIPTDATE}}:- <strong>{{modelInput.RecieptDate}}</strong></h5>
                                                </div>

                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="input-field col s6 l4 m4">

                                                    <i class="mdi-action-search small prefix"  (click)="OpenCustSearch()"></i>
                                                    <input type="text" id="CustId" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_CUSTOMERID}}" [(ngModel)]="modelInput.CustomerId" />   <!--(change)="GetReceipts()"-->
                                                    <label for="CustId" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_TO}}</label>

                                                </div>
                                                <div class="input-field col s6 l4 m6">
                                                    <input type="text" id="CustomerName" [(ngModel)]="modelInput.CustomerName" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_CUSTOMERNAME}}" />
                                                    <label for="CustomerName" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CUSTOMERNAME}}</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col s12 l3 m6">
                                                    <div id="CustSearchModal" class="modal">
                                                        <div class="modal-content">
                                                            <!--<h6>{{RES.SCREEN_RECEIPTCREATE.HEADER_TXT_CUSTOMERNOTE}}</h6>
                                                            <ul>
                                                                <li *ngFor="#obj of _CustomerNotes">
                                                                    <a class="modal-close blue-text" href="javascript:void(0)" (click)="ChooseNote(obj)" data-dismiss="modal" tabindex="49">{{obj.Text}}</a>
                                                                </li>
                                                            </ul>-->
                                                            <!--</div>-->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="waves-effect waves-red btn-flat modal-action modal-close {{CHANGEDIR}}">{{RES.SCREEN_RECEIPTCREATE.ANCHOR_TXT_CLOSE}}</a>
                                                            <!--<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>-->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--Addresses-->
                                            <div class="row">
                                                <div class="input-field col s12 l8 m8">
                                                    <label for="Addrs" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_ADDRESS}}</label>
                                                    <select id="Addrs" class="browser-default" [(ngModel)]="modelInput.AddressId">
                                                        <option *ngFor="#obj of _Addresses; #order = index" value="{{obj.AddressId}}">
                                                            {{obj.Street}} {{obj.Street2}} {{obj.CityName}} {{obj.CountryCode}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s12 l4 m4">
                                                    <label for="Currency" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CURRENCY}}</label>
                                                    <select class="browser-default" id="Currency" [(ngModel)]="modelInput.CurrencyId" required>
                                                        <option *ngFor="#obj of _Currencies; #order = index" value="{{obj.Value}}">
                                                            {{obj.Text}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                            <!--Customer Notes-->
                                            <div class="row">
                                                <div class="input-field col s11 l8 m8">
                                                    <i class="mdi-action-search small prefix" (click)="OpenNotes()"></i>
                                                    <input id="CustLists" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_CUSTOMERNOTES}}" type="text" [(ngModel)]="modelInput.CustomerNote" />
                                                    <label for="CustLists" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CUSTNOTES}}</label>
                                                    <input type="hidden" [(ngModel)]="modelInput.CustomerNoteId" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 l3 m6">
                                                    <div id="NoteModal" class="modal">
                                                        <div class="modal-content col s12 l12 m12" >
                                                            <h6>{{RES.SCREEN_RECEIPTCREATE.HEADER_TXT_CUSTOMERNOTE}}</h6>
                                                            <ul>
                                                                <li *ngFor="#obj of _CustomerNotes">
                                                                    <a class="modal-close blue-text" href="javascript:void(0)" (click)="ChooseNote(obj)" data-dismiss="modal" tabindex="49">{{obj.Text}}</a>
                                                                </li>
                                                            </ul>
                                                            <!--</div>-->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="waves-effect waves-red btn-flat modal-action modal-close {{CHANGEDIR}}">{{RES.SCREEN_RECEIPTCREATE.ANCHOR_TXT_CLOSE}}</a>
                                                            <!--<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>-->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--<div class="row">
                                                <div class="col s12">
                                                    <a (click)="AddModel()"><h5><i class="mdi-content-add-circle-outline"></i> Add Record</h5></a>
                                                </div>
                                            </div>-->

                                            <div class="row">
                                                <div class="col s12">
                                                    <a class="header blue-text lighter bigger" (click)="ShowHideProducts()" >

                                                        <strong>{{RES.SCREEN_RECEIPTCREATE.HEADER_TXT_PRODUCTS}}</strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="IsShowProducts==true">
                                                <!--<div class="col-sm-12">-->
                                                <table class="table">
                                                    <thead>

                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="#obj of modelInput.ReceiptProducts; #order = index">

                                                            <td style="width:7.5%;">
                                                                <div class="col s12 m12 L12">


                                                                    <label class="block clearfix">
                                                                        {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_ROWNO}}
                                                                        <span class="clearfix">
                                                                            <input type="text" [(ngModel)]="obj.RowNo" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_ROWNO}}Row No" name="ar[]" style="width:50px" class="LeftText" readonly="readonly" />
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="width:16%;">
                                                                
                                                                <div class="col s12">
                                                                    <label class="block clearfix">
                                                                        {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_PRODUCTNO}}
                                                                        <span class="clearfix">
                                                                            <input type="text" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_PRODUCTNO}}" [(ngModel)]="obj.ProductNo" name="pre[]" style="width:180px;"/><!--Prefix-->
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            

                                                            <td  style="width:14%;">
                                                                <!--<div class="col s12 m3 l3">.</div>-->
                                                                <div class="col s12 m6 l6 offset-l3">
                                                                    <label class="block clearfix">
                                                                        <button type="button" class="btn waves-effect waves-light btn-default" disabled="{{Isbtndisable}}" (click)="OpenPasteModal(obj)">
                                                                            <i class="small mdi-communication-message"></i></button></label>
                                                                </div>
                                                                <!--<div class="col s12 m3 l3"></div>-->
                                                                <div class="row">
                                                                    <div class="col s12 l12 m12">
                                                                        <div id="PasteTextModal" class="modal">
                                                                            <div class="modal-content">
                                                                                <h6 class="blue-text">{{RES.SCREEN_RECEIPTCREATE.MODAL_HEADER_TXT_PASTETEXT}}</h6>
                                                                                
                                                                                
                                                                                    

                                                                                    <div class="input-field col s12 l12 m12">
                                                                                        <br />
                                                                                        <input type="text" id="PasteText" [(ngModel)]="PasteText" placeholder="{{RES.SCREEN_RECEIPTCREATE.MODAL_TXT_PH_PAGETEXT}} &#8629;"  (keypress)="GetValidateText($event.keyCode)"/>  <!--(change)="GetValidateText()"(change)="GetValidateText()"-->
                                                                                       
                                                                                    </div>
                                                                               
                                                                                <!--</div>-->
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <a class="waves-effect waves-red btn-flat modal-action modal-close {{CHANGEDIR}}">{{RES.SCREEN_RECEIPTCREATE.ANCHOR_TXT_TEMPCLOSE}}</a>
                                                                                <!--<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>-->
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td  style="width:19.5%;">
                                                                <div class="col s12 m12 l12">
                                                                    <label class="block clearfix">
                                                                        {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_PRODUCTNAME}}
                                                                        <span class="clearfix">
                                                                            <input type="text" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_PRODUCTNAME}}" [(ngModel)]="obj.ProductName" name="ph[]" style="width:200px;"/>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td  style="width:11%;">
                                                                <div class="col s12">
                                                                    <label class="block clearfix">
                                                                        {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_PRICE}}
                                                                        <span class="clearfix">
                                                                            <input type="number" class="form-control" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_PRICE}}" name="price[]" [(ngModel)]="obj.Price" style="width:50px" onKeyDown="if (this.value.length == 11 && event.keyCode != 8 && event.keyCode != 46 && event.keyCode != 9) return false;" (change)="CalculateProdRowTotal(obj)"/>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="width:11%;">
                                                                <div class="col s12">
                                                                    <label class="block clearfix">
                                                                        {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_QTY}}
                                                                        <span class="clearfix">
                                                                            <input type="number" class="form-control" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_QTY}}" [(ngModel)]="obj.Qty" name="qty[]" maxlength="50" style="width:50px" onKeyDown="if (this.value.length == 11 && event.keyCode != 8 && event.keyCode != 46 && event.keyCode != 9) return false;"  (change)="CalculateProdRowTotal(obj)"/>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="width:11%;">
                                                                <label class="block clearfix">
                                                                    {{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_TOTAL}}
                                                                    <span class="clearfix">
                                                                        <input type="number" class="form-control" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_TOTAL}}" [(ngModel)]="obj.Total" maxlength="50"  style="width:50px" readonly="readonly"/>
                                                                    </span>
                                                                </label>

                                                            </td>
                                                            
                                                            <td style="width:70px">
                                                                <a class="green-text" (click)="AddProducts(obj)">
                                                                    <i class="mdi-content-add"></i>{{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_PRODMORE}}
                                                                </a>
                                                                <a class="red-text" (click)="delProductDet(obj)">
                                                                    <i class="mdi-content-remove"></i>{{RES.SCREEN_RECEIPTCREATE.TBL_LBL_TXT_PRODLESS}}
                                                                </a>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--</div>-->
                                                <div class="row">
                                                    <div class="col s12 l2 m2 offset-l10">
                                                        <div class="input-field col s12 l12 m12">
                                                            <input type="number" id="Total" placeholder="{{RES.SCREEN_RECEIPTCREATE.TBL_TXT_PH_PRODTOTAL}}" [(ngModel)]="modelInput.ProductTotal" readonly="readonly"/>
                                                            <label for="Total" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_PRODTOTAL}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            




                                            <div class="row">
                                                <div class="col s12">
                                                    <table class="table table-striped addReceipt">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="#dataobj of modelInput.ReceiptLines; #order = index">
                                                                <td style="width:9%">
                                                                    <a class="red-text" (click)="delModel(dataobj)"><i class="mdi-content-remove-circle-outline"></i></a>
                                                                    <a class="green-text" (click)="AddReceiptLine(dataobj)" >
                                                                        <i class="mdi-content-add"></i>{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_MORE}}
                                                                    </a>
                                                                    <!--<a class="green-text" (click)="DupModel(dataobj)"><i class="mdi-image-filter-none"></i></a>-->
                                                                </td>
                                                                <td>
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="input-field col s12 l7 m7">
                                                                                <a href="javascript:void(0)" for="PayType" (click)="ChoosePayType(dataobj,1)" class="waves-effect btn {{dataobj.CashCSS}} black-text">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CASH}}</a>
                                                                                <a href="javascript:void(0)" for="PayType" (click)="ChoosePayType(dataobj,8)" class="btn waves-effect {{dataobj.BankCSS}} black-text">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CHEQUE}}</a>
                                                                                <a href="javascript:void(0)" for="PayType" (click)="ChoosePayType(dataobj,3)" class="waves-effect btn {{dataobj.CreditCSS}} black-text">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CREDIT}}</a>
                                                                                <a href="javascript:void(0)" for="PayType" (click)="ChoosePayType(dataobj,0)" class="btn waves-effect {{dataobj.OtherCSS}} black-text">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_OTHERS}}</a>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4" *ngIf="dataobj.IsShowOthers==true">
                                                                                <label for="PayType" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_PAYTYPE}}</label>
                                                                                <select class="browser-default" id="PayType" [(ngModel)]="dataobj.PayTypeId" 
                                                                                        (change)="BankDetailShow($event.target.value,dataobj)">
                                                                                    <option *ngFor="#obj of _PayTypes; #order = index" value="{{obj.Value}}" >
                                                                                        {{obj.Text}}
                                                                                    </option>
                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <input type="number" id="Amount" maxlength="7" (change)="BindTotal()" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_AMOUNT}}" [(ngModel)]="dataobj.Amount" />
                                                                                <label for="Amount" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_AMOUNT}}</label>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                    <mx-date (ondata)="dateVSelectionChange($event,dataobj)" cssclass="col s4 browser-default" [setdate]="dataobj.ValueDate"></mx-date>
                                                                                
                                                                                <label for="VDate" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_VALUEDATE}}</label>

                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <label for="Account" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_ACC}}</label>
                                                                                <select class="browser-default" id="Account" [(ngModel)]="dataobj.AccountId">
                                                                                    <option *ngFor="#obj of _Accounts; #order = index" value="{{obj.Value}}">
                                                                                        {{obj.Text}}
                                                                                    </option>
                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row" *ngIf="dataobj.IsBankDetShow==true">
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <input type="text" id="AccountNumber" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_ACCNO}}" [(ngModel)]="dataobj.AccountNo" />
                                                                                <label for="AccountNumber" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_ACCNO}}</label>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <input type="text" id="Branch" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_BRANCH}}" [(ngModel)]="dataobj.BranchNo" />
                                                                                <label for="Branch" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_BRANCH}}</label>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <input type="text" id="Bank" class="Bank" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_BANK}}" [(ngModel)]="dataobj.Bank" autocomplete="off" />
                                                                                <label for="Bank" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_BANK}}</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" *ngIf="dataobj.IsCreditShow==true">
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <input type="text" id="CreditCard" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_CREDITCARD}}" [(ngModel)]="dataobj.CreditCardType" />
                                                                                <label for="CreditCard" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_CREDITCARD}}</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <label for="Goal" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_GOAL}}</label>
                                                                                <select class="browser-default" id="DonationTypeId" [(ngModel)]="dataobj.DonationTypeId">
                                                                                    <option *ngFor="#obj of _Goals; #order = index" value="{{obj.Value}}">
                                                                                        {{obj.Text}}
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <label for="ProjectCategory" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_PROJCAT}}</label>
                                                                                <select class="browser-default" id="ProjectCategory" [(ngModel)]="dataobj.ProjectCategoryId" (change)="BindProjects($event.target.value)">
                                                                                    <option value="-1">
                                                                                        {{RES.SCREEN_RECEIPTCREATE.OP_PROJCAT}}
                                                                                    </option>
                                                                                    <option *ngFor="#obj of _ProjectCats; #order = index" value="{{obj.Value}}">
                                                                                        {{obj.Text}}
                                                                                    </option>
                                                                                </select>

                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <label for="Project" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_PROJ}}</label>
                                                                                <select class="browser-default" id="Project" [(ngModel)]="dataobj.ProjectId">
                                                                                    <option *ngFor="#obj of _Projects; #order = index" value="{{obj.Value}}">
                                                                                        {{obj.Text}}
                                                                                    </option>
                                                                                </select>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col s12 l2 m4">
                                                                                <a class="header blue-text lighter bigger" (click)="More(dataobj)" tabindex="10">
                                                                                    <i class="ace-icon fa"></i>
                                                                                    <b>{{dataobj.ShowMoreText}}....</b>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" *ngIf="dataobj.ShowMore==true">

                                                                            <div class="input-field col s12 l4 m4">
                                                                                <mx-date (ondata)="dateSelectionChange($event,dataobj)" cssclass="col s4 browser-default" [setdate]="dataobj.ReferenceDate"></mx-date>
                                                                                <label for="ReferenceDate" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_REFDATE}}</label>
                                                                            </div>
                                                                            <div class="input-field col s12 l4 m4">
                                                                                <label for="ForInvoice" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_FORINV}}</label>
                                                                                <input type="text" id="ForInvoice" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_FORINV}}" class="form-control" [(ngModel)]="dataobj.For_Invoice" />

                                                                            </div>
                                                                            <div class="input-field col s12 l3 m3">
                                                                                <i class="mdi-action-search small prefix"></i>
                                                                                <input type="text" id="Involved" class="form-control" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_INVOLVED}}" [(ngModel)]="dataobj.RecievedCustId" /><!--Title-->
                                                                                <label for="Involved" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_INVOLVED}}</label>
                                                                            </div>
                                                                            <div class="col s12 l1 m1">
                                                                                {{RES.SCREEN_RECEIPTCREATE.CB_TXT_PAID}}
                                                                                <span class="clearfix">
                                                                                    <input type="checkbox" id="Paid" class="form-control" [(ngModel)]="dataobj.Payed" /><!--Job Title-->
                                                                                    <label for="Paid"></label>
                                                                                </span>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col s12">
                                                                                <label for="Remarks" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_REMARKS}}</label>
                                                                                <textarea id="Remarks" rows="2" cols="50" [(ngModel)]="dataobj.DepositeRemark" style="max-height:20px;overflow-y:auto" class="materialize-textarea"></textarea>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </td>

                                                                <!--<td>{{obj.ValueDate}}</td>
                                                                <td>{{obj.PayType}}</td>
                                                                <td>{{obj.Account}}</td>
                                                                <td>{{obj.AccountNo}}</td>
                                                                <td>{{obj.BranchNo}}</td>
                                                                <td>{{obj.Bank}}</td>
                                                                <td>{{obj.CreditCardType}}</td>
                                                                <td>{{obj.DonationType}}</td>
                                                                <td>{{obj.ProjectCategory}}</td>
                                                                <td>{{obj.Project}}</td>
                                                                <td>{{obj.DepositeRemark}}</td>-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 l4 m4 offset-l8">
                                                    <div class="input-field col s12 l6 m6">
                                                        <input type="number" id="Total" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_TOTAL}}" [(ngModel)]="modelInput.Total" />
                                                        <label for="Total" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_TOTAL}}</label>
                                                    </div>
                                                    <div class="input-field col s12 l6 m6">
                                                        <input type="number" id="TotalInLeadCurrent" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_TOTINLDCURR}}" [(ngModel)]="modelInput.TotalInLeadCurrent" />
                                                        <label for="TotalInLeadCurrent" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_TOTINLDCURR}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 l4 m4 offset-l8">

                                                    <div class="input-field col s12 l12 m12">
                                                        <input type="text" id="TotalInWords" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_TOTINWRDS}}" [(ngModel)]="modelInput.TotalInWords" />
                                                        <label for="TotalInWords" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_TOTINWRDS}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 l4 m4">
                                                    <input type="text" id="FreeLine" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_FREELINE}}" [(ngModel)]="modelInput.CustomizeLine" />
                                                    <label for="FreeLine" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_FREELINE}}</label>
                                                </div>
                                                <div class="input-field col s12 l4 m4">
                                                    <input type="text" id="DepositedBy" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_DEPBY}}" [(ngModel)]="modelInput.associationName" required readonly="readonly" />
                                                    <label for="FreeLine" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_DEPBY}}</label>
                                                </div>
                                                <div class="input-field col s12 l4 m4">
                                                    <input type="text" id="EmpId" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_EMPID}}" [(ngModel)]="modelInput.EmployeeName" required />
                                                    <label for="EmpId" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_EMPID}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12 l6 m6">
                                                    <i class="mdi-action-search small prefix" (click)="OpenTemplates()"></i>
                                                    <input type="text" id="ThnksLetter" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_PRINTTEMP}}" [(ngModel)]="modelInput.ThanksLetterName" required readonly="readonly" />
                                                    <label for="ThnksLetter" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_PRINTTEMP}}</label>
                                                </div>
                                                <div class="input-field col s12 l6 m6">
                                                    <input type="text" id="PayRequest" placeholder="{{RES.SCREEN_RECEIPTCREATE.PH_FORPAYREQ}}" [(ngModel)]="modelInput.PaymentRequest" />
                                                    <label for="PayRequest" class="active">{{RES.SCREEN_RECEIPTCREATE.LBL_TXT_FORPAYREQ}}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 l3 m6">
                                                    <div id="TemplateModal" class="modal">
                                                        <div class="modal-content">
                                                            <h6>{{RES.SCREEN_RECEIPTCREATE.HEADER_TXT_TEMP}}</h6>
                                                            <ul>
                                                                <li *ngFor="#obj of _ThankLetters">
                                                                    <a class="modal-close blue-text" href="javascript:void(0)" (click)="ChooseThanksLetters(obj)" data-dismiss="modal" tabindex="49">{{obj.Text}}</a>
                                                                </li>
                                                            </ul>
                                                            <!--</div>-->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="waves-effect waves-red btn-flat modal-action modal-close {{CHANGEDIR}}">{{RES.SCREEN_RECEIPTCREATE.ANCHOR_TXT_TEMPCLOSE}}</a>
                                                            <!--<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>-->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col s12 l4 m4 offset-l4">
                                                    <button type="button" class="btn waves-effect waves-light green accent-4" disabled="{{Isbtndisable}}" (click)="saveReceiptData(false)">

                                                        <span class="bigger-110">{{SAVE_BTN_TEXT}}</span>
                                                    </button>
                                                    <button type="button" class="btn waves-effect waves-light  grey lighten-2" disabled="{{Isbtndisable}}" (click)="saveReceiptData(true)">

                                                        <span class="bigger-110">{{RES.SCREEN_RECEIPTCREATE.BTN_TXT_SAVEEXIT}}</span>
                                                    </button>&nbsp;
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                            <div class="row">
                                                <div class="col s12 l4 m4 offset-l4">

                                                    <button type="button" class="btn waves-effect waves-light btn-default" disabled="{{Isbtndisable}}" (click)="createReceiptPDF()">

                                                        <span class="bigger-110">{{RES.SCREEN_RECEIPTCREATE.BTN_TXT_PRTOPDF}}</span>
                                                    </button>&nbsp;
                                                </div>
                                            </div>
                                            <!--</fieldset>-->
                                        </form>
                                    </div>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                    
                    <!-- /.position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>

<style type="text/css">
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color: red;
    }

    input.ng-valid.ng-touched, select.ng-valid.ng-touched {
        background-color: none;
        border-color: none;
    }
</style>

<!-- /.main-container -->
