
<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">   <!--class="side-nav fixed leftside-navigation ps-container ps-active-y"   style="left: 0px; height: 590px;"-->
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img src="../src/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                </div>
                <div class="col col s8 m8 l8">
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="mdi-action-settings"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                        </li>
                        <li>
                            <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                        </li>
                    </ul>
                    <a class="btn-flat waves-effect waves-light white-text profile-btn" data-activates="profile-dropdown">Hello {{UserName}}<!--<i class="mdi-navigation-arrow-drop-down right"></i>--></a>
                    <!--<a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{UserName}}<i class="mdi-navigation-arrow-drop-down right"></i></a>-->
                    <a class="btn-flat waves-effect waves-light white-text profile-btn" (click)="LogOut()">Logout</a>
                </div>
            </div>
        </li>
        <!--<li class="bold active">
            <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
        </li>-->

        <li class="no-padding" *ngFor="#item of SideNav | async">

            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-{{item.faicon}}"></i>{{item.label}}</a>
                    <div class="collapsible-body" style="display:block;">
                        <ul *ngIf="item.subMenus.length > 0">
                            <li *ngFor="#subm of item.subMenus" [routerLink]="[subm.routerUrl,subm.parameters]">
                                <a href="">{{subm.label}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

    </ul>
    <a href="" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>
    <!-- END LEFT SIDEBAR NAV-->
    <!--Older Design-->
    <!--<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success" [routerLink]="['IndexRouter']">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info" [routerLink]="['DefaultRouter']">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
    <!--<button class="btn btn-warning">
        <i class="ace-icon fa fa-users"></i>
    </button>

    <button class="btn btn-danger">
        <i class="ace-icon fa fa-cogs"></i>
    </button>-->
    <!-- /section:basics/sidebar.layout.shortcuts -->
    <!--</div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>-->
    <!--</div>-->
    <!-- /.sidebar-shortcuts -->
    <!--<ul class="nav nav-list">

        <li *ngFor="#item of SideNav | async">
            <a class="{{item.subMenus.length > 0 ? 'dropdown-toggle' : ''}}">
                <i class="menu-icon fa {{item.faicon}}"></i>
                <span class="menu-text"> {{item.label}} </span>
                <b *ngIf="item.subMenus.length > 0" class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul *ngIf="item.subMenus.length > 0" class="submenu">
                <li *ngFor="#subm of item.subMenus" class="" [routerLink]="[subm.routerUrl,subm.parameters]">
                    <a href="">
                        <i class="menu-icon fa fa-caret-right"></i> {{subm.label}}
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>-->
    <!-- /.nav-list -->
    <!-- #section:basics/sidebar.layout.minimize -->
    <!--<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>-->
    <!-- /section:basics/sidebar.layout.minimize -->
