  <!--Materialize UI-->




<!--<mx-loading></mx-loading>-->
  <!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<!-- End Page Loading -->
<!-- #section:basics/navbar.layout -->
<!-- START HEADER -->

        <mx-navbar></mx-navbar>
    
    
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- /section:basics/navbar.layout -->
    <div id="main" style="min-height:525px;"> <!--style="min-height:750px;"-->
        <!-- #section:basics/sidebar -->
        <div class="wrapper">
            
                <mx-sidebar></mx-sidebar>
            
            <!-- /section:basics/sidebar -->
            <section id="content">
                <!--<div class="main-content">
                    <div class="main-content-inner">-->
                <!-- #section:basics/content.breadcrumbs -->
                <!--<div id="breadcrumbs-wrapper" style="margin-left:0px;padding-left:-150px;">-->
                    <mx-breadcrumb></mx-breadcrumb>
                <!--</div>-->
                <!-- /section:basics/content.breadcrumbs -->
                <div class="container">
                    <!-- /section:settings.box -->
                    <!--<div class="row">
                        <div class="col s12">-->
                            <!-- PAGE CONTENT BEGINS -->
                            <router-outlet></router-outlet>
                            <!-- PAGE CONTENT ENDS -->
                        <!--</div>
                        
                    </div>-->
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
                <!--</div>
                </div>-->
            </section>
            <!-- /.main-content -->


        </div>
    </div>
    <!-- /.main-container -->
    <!---//////////////Footer-->
    <footer class="page-footer" style="margin-bottom:0px;"  dir="ltr">
        <div class="footer-copyright">
            <!-- #section:basics/footer -->
            <div class="container" >
                <span class="bigger-120">
                    <span class="blue bolder">Ace</span> Application &copy; 2013-2015
                </span>
                &nbsp; &nbsp;
                <span class="action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>
                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>
                    <a href="#">
                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                    </a>
                </span>
            </div>
            <!-- /section:basics/footer -->
        </div>
    </footer>
<!--prism-->
<script>
    $(document).ready(function () {
        alert('Hello');
    });
</script>
<script type="text/javascript" src="src/materialize/js/plugins/prism/prism.js"></script>