<!--<link href="../../../src/materialize/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">-->
<style>
    [type="checkbox"] + label:before, [type="checkbox"] + label:after {
        left: 0;
        right: -25px;
    }

    [type="text"] + label:before, [type="text"] + label:after {
        left: 0;
        right: -15px;
    }

    i + [type="text"]:before, i + [type="text"]:after {
        left: 0;
        right: -35px;
    }

    i + input[type="text"] {
        margin-right: 40px;
    }

    i + [type="password"]:before, i + [type="text"]:after {
        left: 0;
        right: -35px;
    }

    i + input[type="password"] {
        margin-right: 40px;
    }

    input[type="text"] + label {
        margin-right: 40px;
    }

    input[type="checkbox"] + label {
        margin-right: 40px;
    }
    /*.inpt_center
        {text-align:center;}
        .inpt_right
        {text-align:right;}
        .inpt_left
        {text-align:left;}
        .modal{
            background-color:transparent;
            max-width:inherit;
            max-height:inherit;
        }

        .statustxt{font-weight:bold;color:forestgreen!important}*/
</style>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="header center">

    <h3>
        <i class="green-text mdi-action-language"></i>
        <span class="red-text">Amax</span>
        <span class="black-text" id="id-text2">C.R.M</span>
    </h3>
    <h4 class="blue-text" id="id-company-text">{{RES.APP_BASELINE}}</h4>
</div>
<div class="row">



    <div class="col s12 m6 l6 offset-l3 card-panel">
        <form action="#">
            <!--<fieldset>-->
            <div class="row">
                <div class="row margin">
                    <h5 class="center lighter bigger" style="color:#00bcd4">
                        {{RES.APP_LBL_INFO}}
                    </h5>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="username" type="text" [(ngModel)]="modelInput.userName">
                        <label for="username" class="center-align active">Username</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password" [(ngModel)]="modelInput.password">
                        <label for="password" class="center-align active">Password</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-people prefix"></i>
                        <input id="OrgId" type="text" [(ngModel)]="modelInput.orgName">
                        <label for="OrgId" class="center-align active">Organization</label>
                    </div>
                </div>
                <div class="col s12">
                    <!--<label class="block clearfix">
                        <span class="block">-->
                    <mx-select cssclass="browser-default" [data]="languageArray" Vallabel="code" label="name" (onData)="languageSelectionChange($event)" selectedval="{{Language}}"></mx-select>
                    <!--<select style="width:100%" class="browser-default" [(ngModel)]="Language" (change)="languageSelectionChange($event)">


                        <option *ngFor="#DropObject of languageArray" value="{{DropObject.code}}">
                            {{DropObject.name}}
                        </option>
                    </select>-->
                    <!--</span>
                    </label>-->
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12  login-text">
                    <input type="checkbox" id="remember-me" [(ngModel)]="modelInput.rememberMe" />
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div>
                <div class="row center">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light col s12" (click)="Validate()">{{RES.APP_BTN_LOGIN}}</a>
                    </div>

                </div>
            </div>
            <div class="space-4"></div>
            <!--</fieldset>-->
        </form>
        <!--</div>-->
        <!-- /.widget-main -->
        <div class="row">
            <div class="input-field col s6 m6 l6">
                <p class="margin medium-small">
                    <a href="#" data-target="#forgot-box" class="forgot-password-link">
                        <i class="mdi-navigation-arrow-back"></i> I forgot my password
                    </a>
                </p>
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small">
                    <a href="#" data-target="#signup-box" class="user-signup-link">
                        I want to register
                        <i class="mdi-navigation-arrow-forward"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.main-container -->
</div>

<!--</div>-->