<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    .table tbody tr .green{
        display:none;
    }
    .table tbody tr:last-child .green{
        display:block;
    }

    .table tbody tr .red{
        display:block;
    }

    /*#EmailTable a {
        display:none
    }*/
</style>  
  
<div class="container">
        <div class="content">
            <div class="row">
                <div class="col s12 card-panel">
                    <div>
                        <div>
                            <h1>
                                <i class="mdi-content-select-all green-text"></i>
                                <span class="red-text">{{RES.GENERAL_GROUP.APP_LBL_GROUP}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->
                                
                                <label class="block clearfix">
                                    
                                </label>
                            </h1>
                            <h4 class="blue" id="id-company-text"></h4>
                        </div>
                        <div class="position-relative">
                            <div class="visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">

                                       
                                        
                                        
                                       
                                        <form>
                                            <!--<fieldset>-->
                                               
                                            <br />
                                            <div class="row">
                                                <div class="col s12">

                                                    <button type="button" class="btn waves-effect waves-light green accent-4" disabled="{{Isbtndisable}}" style="float:left;width:175px!important;" (click)="GetCustData()">
                                                        <i class="ace-icon fa"></i>
                                                        <span class="bigger-110">{{RES.GENERAL_GROUP.APP_BTN_LOAD}}</span>
                                                    </button>


                                                    <img src="http://localhost:57998/Images/Loader2.gif" style="float:right" *ngIf="ShowLoader==true" />

                                                </div>

                                            </div>
                                            <br />
                                                <div class="row">
                                                    <div class="col s6">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <label>{{RES.GENERAL_GROUP.LBL_GROUPS}}</label>
                                                                <div class="k-content {{KendoRTLCSS}}" style="min-height:400px; max-height: 400px;overflow-y: auto;">
                                                                    <div id="groupTree" style="overflow: visible;"> Loading...</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col s6">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="k-content {{KendoRTLCSS}}">
                                                                    <div id="grid"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                
                                                

                                                
                                               
                                                
                                                
                                               


<!--</fieldset>-->
                                        </form>
                                    </div>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                        <!-- /.position-relative -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
<style type="text/css">
    input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color:red;
    }

    input.ng-valid.ng-touched,select.ng-valid.ng-touched {
        background-color: none;
        border-color:none;
    }
</style>

    <!-- /.main-container -->
