<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    /*.table tbody tr .green{
        display:none;
    }
    .table tbody tr:last-child .green{
        display:block;
    }

    .table tbody tr .red{
        display:block;
    }*/

    /*#EmailTable a {
        display:none
    }*/
    .breadcrumbs {
        max-width:100%!important;
  width:1007px!important;
    }
</style>  
  
<!--<div class="container">-->
        <div class="content">
            <div class="row">
                <div class="col s12 card-panel">
                    <div>
                        <div>
                            <h1>
                                <i class="mdi-content-select-all green-text"></i>
                                <span class="red-text">{{RES.SCREEN_RECIEPTTYPE.APP_LBL_RCPT_HEADING}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->


                            </h1>
                            <h4 class="blue-text" id="id-company-text"></h4>
                        </div>
                        <div class="position-relative">
                            <div class="visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form>
                                            <!--<fieldset>-->
                                                <h4 class="header blue-text lighter bigger">
                                                    <i class="mdi-editor-border-color"></i>  <!--ace-icon fa fa-pencil-square-o-->
                                                    {{RES.SCREEN_RECIEPTTYPE.APP_LBL_RCPT_LIST}}    
                                                </h4>
                                                <div id="RTDiv">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>{{RES.SCREEN_RECIEPTTYPE.APP_GRD_LBL_NAMEENG}}</th>
                                                                <th>{{RES.SCREEN_RECIEPTTYPE.APP_GRD_LBL_NAME}}</th>
                                                                <th>{{RES.SCREEN_RECIEPTTYPE.APP_GRD_LBL_CURRENCY}}</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="#obj of _RecieptTypeList">
                                                                <td>
                                                                    {{obj.RecieptNameEng}}
                                                                </td>
                                                                <td>
                                                                    {{obj.RecieptName}}
                                                                </td>
                                                                <td>
                                                                    {{obj.CurrencyId}}
                                                                </td>

                                                                <td>
                                                                    <a class="green-text" (click)="ViewTemplates(obj)">
                                                                        <!--href="#RTLDiv"-->
                                                                        <i class="mdi-action-visibility"></i>{{RES.SCREEN_RECIEPTTYPE.LBL_RCPTTEMPDET}} <!--ace-icon fa fa-eye-->
                                                                    </a>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div id="RTLDiv">
                                                    <h4 class="header blue-text lighter bigger">
                                                        <i class="mdi-content-mail"></i>
                                                        {{RES.SCREEN_RECIEPTTYPE.APP_LBL_RCPTTEMP_LIST}}
                                                    </h4>

                                                    {{RES.SCREEN_RECIEPTTYPE.APP_RCPTTEMP_TEMPFOR}} - {{ReceiptName}}
                                                    <button type="button" class="btn waves-effect waves-light indigo right" style="float:left;" (click)="AddRTLScreen()">
                                                        <i class="ace-icon fa fa-plus"></i>
                                                        <span class="bigger-110">{{RES.SCREEN_RECIEPTTYPE.APP_RCPT_BTN_ANEW}}</span>
                                                    </button>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>{{RES.SCREEN_RECIEPTTYPE.APP_RCPTTEMP_GRD_LBL_NAMEENG}}</th>
                                                                    <th>{{RES.SCREEN_RECIEPTTYPE.APP_RCPTTEMP_GRD_LBL_NAME}}</th>

                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="#obj of _RecieptThnksLettersList">
                                                                    <td>
                                                                        {{obj.ThanksLetterNameEng}}
                                                                    </td>
                                                                    <td>
                                                                        {{obj.ThanksLetterName}}
                                                                    </td>


                                                                    <td style="width:150px">
                                                                        <a class="blue-text" (click)="EditTemplate(obj)" title="{{RES.SCREEN_RECIEPTTYPE.APP_ACH_TLTIP_EDITTEMP}}">
                                                                            <i class="small mdi-editor-insert-drive-file"></i>
                                                                        </a>&nbsp;
                                                                        <a class="green-text" (click)="EditReceiptThnksLetter(obj)" title="{{RES.SCREEN_RECIEPTTYPE.APP_ACH_TLTIP_EDITRECTEMP}}">
                                                                            <i class="small mdi-content-create"></i>
                                                                        </a>&nbsp;
                                                                        <a class="red-text" (click)="deleteReceiptThnksLetter(obj)" title="{{RES.SCREEN_RECIEPTTYPE.APP_ACH_TLTIP_DELRECTEMP}}">
                                                                            <i class="small mdi-content-clear"></i>
                                                                        </a>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
</div>
                                                <!--</fieldset>-->
                                            </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                        <!-- /.position-relative -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.main-content -->
                    <!--</div>-->
<style type="text/css">
    input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color:red;
    }

    input.ng-valid.ng-touched,select.ng-valid.ng-touched {
        background-color: none;
        border-color:none;
    }
</style>

    <!-- /.main-container -->
