<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    /*.table tbody tr .green{
        display:none;
    }
    .table tbody tr:last-child .green{
        display:block;
    }

    .table tbody tr .red{
        display:block;
    }*/

    /*#EmailTable a {
        display:none
    }*/
</style>  
  
<div class="container">
        <div class="content">
            <div class="row">
                <div class="col s12 card-panel">
                    <div>
                        <div>
                            <h1>
                                <i class="mdi-content-select-all green-text"></i>
                                <span class="red-text">{{RES.SCREEN_EDITTEMP.APP_LBL_TEMP_HEADING}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->


                            </h1>
                            <h4 class="blue-text" id="id-company-text"></h4>
                        </div>
                        <div class="position-relative">
                            <div class="visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form (ngSubmit)="saveTemplateData()">
                                            <!--<fieldset>-->
                                                <h4 class="header blue-text lighter bigger">
                                                    <i class="ace-icon fa fa-plus"></i>
                                                    {{RES.SCREEN_EDITTEMP.APP_LBL_TEMP_TEMPDET}}    
                                                </h4>
                                               
                                              
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <textarea class="form-control" [(ngModel)]="modelInput.MailBody" placeholder="{{RES.SCREEN_EDITTEMP.APP_TXT_PH_SOURCE}}" required rows="30" cols="80" id="editor">
                                                            </textarea>
                                                        
                                                        
                                                    </span>
                                                </label>
                                                <button type="button" class="pull-right btn waves-effect waves-light  grey lighten-2" disabled="{{Isbtndisable}}" style="float:left;" (click)="CancelBtn()">
                                                    
                                                    <span class="bigger-110">{{RES.SCREEN_EDITTEMP.APP_BTN_CANCEL}}</span><!--Save Changes  {{RES.SCREEN_EDITTEMP.APP_BTN_SAVE}}-->
                                                </button>
                                                <button type="submit" class="pull-right btn waves-effect waves-light green accent-4" disabled="{{Isbtndisable}}" style="float:left;">
                                                    
                                                    <span class="bigger-110">{{RES.SCREEN_EDITTEMP.APP_BTN_EDIT}}</span><!--Save Changes  {{RES.SCREEN_EDITTEMP.APP_BTN_SAVE}}-->
                                                </button>
                                                
                                                <div *ngIf="ShowMsg==true" class="pull-right {{MsgClass}}">
                                                    <strong>  {{Msg}}</strong>
                                                </div>
                                                <img src="http://localhost:57998/Images/Loader2.gif" style="float:right" *ngIf="ShowLoader==true" />
<!--</fieldset>-->
                                            </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                                        <!-- /.position-relative -->
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.main-content -->
                    </div>
<style type="text/css">
    input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color:red;
    }

    input.ng-valid.ng-touched,select.ng-valid.ng-touched {
        background-color: none;
        border-color:none;
    }
</style>

    <!-- /.main-container -->
