<style>
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
    [type="radio"] + label:before, [type="radio"] + label:after {
        left: 0;
        right: -25px;
    }
    input[type="radio"] + label {
        margin-right:40px;
    }
    .table tbody tr .green{
        display:none;
    }
    .table tbody tr:last-child .green{
        display:block;
    }

    .table tbody tr .red{
        display:block;
    }
    .card-panel {
        
        min-height:450px!important;

    }
    /*#EmailTable a {
        display:none
    }*/
</style>  
  
<div class="container">
        <div class="content">
            <div class="row">
                <div class="col s12  card-panel">
                    <div>
                        <div>
                            <div>
                                <h1>
                                    <i class="mdi-content-select-all green-text"></i>
                                    <span class="red-text">{{RES.TERMINAL_SCREEN.APP_LBL_TERMINAL}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->
                                    <!--<span class="white" id="id-text2" >Screen</span>-->
                                    <label class="block clearfix">

                                    </label>
                                </h1>
                            </div>
                            
                            <h4 class="blue-text" id="id-company-text"></h4>
                        </div>
                        <div class="position-relative">
                            <div class="visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                            <div class="space-6"></div>
                                            <hr />
                                            <form action="#">
                                                <!--<fieldset>-->
                                                    <div class="row">
                                                        <div class="col-sm-12" style="max-height: 230px; padding: 20px 10px 40px; margin-left:10px;">
                                                            <div *ngFor="#obj of _TerminalList" style="overflow: visible;">




                                                                <input type="radio" id="{{obj.Value}}" name="termlist" (change)="ChangeTerminal(obj)" style="float:left;width:60px" />
                                                                <label [attr.for]="obj.Value">{{obj.Text}}</label>





                                                            </div>
                                                        </div>
                                                    </div>
                                              

                                                   
                                                
                                                    <!--Addresses-->
                                                    
                                  
                                                    <div>
                                                        <button type="button" class="btn waves-effect waves-light green accent-4" style="float:right" disabled="{{Isbtndisable}}" (click)="NextPage()">
                                                            <i class="ace-icon fa"></i>
                                                            <span class="bigger-110">{{RES.TERMINAL_SCREEN.APP_BTN_CONTINUE}}</span>
                                                        </button>
                                                        <button type="button" class="btn waves-effect waves-light  grey lighten-2"  style="float:left" disabled="{{Isbtndisable}}" (click)="BackPage()">
                                                            <i class="ace-icon fa"></i>
                                                            <span class="bigger-110">{{RES.TERMINAL_SCREEN.APP_BTN_BACK}}</span>
                                                        </button>
                                                        

                                                       

                                                    </div>

                                                    


                                                <!--</fieldset>-->
                                            </form>
</div>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.login-box -->
                        </div>
                        <!-- /.position-relative -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.main-content -->
    </div>
<style type="text/css">
    input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color:red;
    }

    input.ng-valid.ng-touched,select.ng-valid.ng-touched {
        background-color: none;
        border-color:none;
    }
</style>

    <!-- /.main-container -->
