<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MTS_WebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MTS_WebServiceSoap1" />
                <binding name="MTS_WebServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="MTS_WebServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cc.arkom.co.il/mts_webservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MTS_WebServiceSoap"
                contract="ClientArkom1.MTS_WebServiceSoap" name="MTS_WebServiceSoap" />
            <endpoint address="https://secure.arkom.co.il/wsdev2/MTS_WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MTS_WebServiceSoap2"
                contract="ClientAkromSecure.MTS_WebServiceSoap" name="MTS_WebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>