<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type="checkbox"] + label:before, [type="checkbox"] + label:after {
        left: 0;
        right: -25px;
    }

    input[type="checkbox"] + label {
        margin-right: 40px;
    }

    [type="text"] + label:before, [type="text"] + label:after {
        left: 0;
        right: -25px;
        
    }

    input[type="text"] + label {
        margin-right: 40px;
    }

    /*.table tbody tr .green-text {
        display: none;
    }*/

    /*.table tr:last-child {
        display: none;
    }*/

    /*.table tbody tr .red-text {
        display: block;
    }*/

    input {
        color: Black !important;
        font-weight: bold;
    }

    select {
        color: Black !important;
        font-weight: bold;
    }

    .LeftText {
        text-align: left !important;
    }

    .modal-content {
        /*margin-left: 20px !important;
        margin-right: 20px !important;*/
        /*width: 500px !important;*/
    }

    .modal-dialog {
        width: 650px !important;
    }

    /*button {
        float: left !important;
    }*/
    /*.card-panel {
        width:500px!important;
    }*/
    /*#EmailTable a {
        display:none
    }*/

  .table-status-sheet  tbody {
display:block;
max-height:300px;
min-height:initial;
overflow:auto;
}
.table-status-sheet thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
.table-status-sheet thead {
width: calc( 100% - 1em )
}
.table-status-sheet table {
width:100%;
}
/*.table-status-sheet tbody{
  min-height: 300px;
  overflow-y: auto;
}*/
</style>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s12 m12 l12 card-panel">
                <div>
                    <div style="position:relative;" dir="ltr">
                        <div>
                        <h1>
                            <i class="mdi-content-select-all green-text"></i>
                            <span class="red-text">{{RES.CUSTOMER_PROFILE.APP_LBL_CUST}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->
                            <span class="blue-text" id="id-text2" ng-show="modelInput.CustomerId!='-1'">{{CustIdText}}</span>

                        </h1>

                        <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8 l8" style="float:left"  >
                            

                            <div class="col s12 l12 m12">
                                <h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_TXT_SERVICEDET}}</h6>
                                <hr />



                                <table class="table striped table-status-sheet" style="min-height:20px; max-height: 20px;overflow-y: auto;">

                                    <thead>
                                        <tr>
                                            <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_DETAIL}}</th>
                                            <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_DONOTJUMP}}</th>
                                            <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_MEMODATE}}</th>
                                            <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_ROWDATE}}</th>
                                            <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_SERVICETYPE}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="#obj of modelInput.CustomersService; #order = index">
                                            <td>
                                                {{obj.Details}}
                                            </td>
                                            <td>
                                                {{obj.DonotJump}}
                                            </td>
                                            <td>
                                                {{obj.MemoDate}}
                                            </td>
                                            <td>
                                                {{obj.RowDate}}
                                            </td>
                                            <td>
                                                {{obj.ServiceType}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                                <div class="col s12 l12 m12">
                                    <h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_TXT_RECEIPTDET}}</h6>
                                    <hr />

                                    

                                    <table class="table striped table-status-sheet"  style="min-height:20px; max-height: 20px;overflow-y: auto;">

                                        <thead>
                                            <tr>
                                                <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_RECEIPTTYPE}}</th>
                                                <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_RECEIPTNO}}</th>
                                                <th>{{RES.CUSTOMER_PROFILE.GRID_LBL_RECEIPTDATE}}</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr *ngFor="#obj of modelInput.CustomersReceipts; #order = index">
                                                <td>
                                                    {{obj.ReceiptTypeName}}
                                                </td>
                                                <td>
                                                    {{obj.RecieptNo}}
                                                </td>
                                                <td>
                                                    {{obj.RecieptDate}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <div class="col s12 m4 l4" style="float:right">
                            <div class="blue white-text">
                                <div class="row">
                                    <div class="col s3 m3 l3">

                                        <img alt="" class="circle responsive-img valign profile-image" src="{{ImageUrl}}{{CustFileName}}" style="margin:10px;">
                                    </div>
                                    <div class="col s9 m9 l9">

                                        <h5 style="margin:20px;">{{modelInput.fname}} {{modelInput.lname}}</h5>
                                    </div>
                                </div>
                                
                            </div>
                            <br />
                            <div class="space-6"></div>
                            <a href="{{BaseUrl}}Customer/Add/{{modelInput.CustomerId}}">{{RES.CUSTOMER_PROFILE.A_LBL_EDITCUST}}</a>
                            <hr />
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <a (click)="ShowHideaddressesRows()"><h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_LBL_CUSTADDRESS}}</h6></a>
                                    <hr />
                                    <table >
                                        
                                        
                                            <tr *ngFor="#obj of modelInput.CustomerAddresses; #order = index">
                                                <td style="{{obj.CSSStlye}}">
                                                    {{obj.Street}} {{obj.Street2}} {{obj.Zip}} {{obj.CityName}} {{obj.State}} {{obj.CountryName}}
                                                </td>
                                                </tr>
                                                                   </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <a (click)="ShowHideEmailRows()"><h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_LBL_CUSTEMAILS}}</h6></a>
                                    <hr />
                                    <table id="EmailTable">


                                        <tr *ngFor="#obj of modelInput.CustomerEmails; #order = index" >
                                            <td style="{{obj.CSSStlye}}">
                                                {{obj.Email}} - {{obj.EmailName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <a (click)="ShowHidePhonesRows()"><h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_LBL_CUSTPHONES}}</h6></a>
                                    <hr />
                                    <table>


                                        <tr *ngFor="#obj of modelInput.CustomerPhones; #order = index">
                                            <td style="{{obj.CSSStlye}}">
                                                {{obj.Area}}{{obj.Phone}} ({{obj.PhoneType}} - {{obj.Comments}})
                                            </td>
                                            <!--<td>
                                                {{obj.Area}}{{obj.PhoneType}}
                                            </td>
                                            <td>
                                                {{obj.Area}}{{obj.Comments}}
                                            </td>-->
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <a (click)="ShowHideGroupsRows()"><h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_LBL_GROUPS}}</h6></a>
                                    <hr />
                                    <table>


                                        <tr *ngFor="#obj of modelInput.CustomerGroups; #order = index">
                                            <td style="{{obj.CSSStlye}}">
                                                {{obj.GroupText}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 l12 m12">
                                    <a (click)="ShowHideWebsiteRows()"><h6 class="blue-text">{{RES.CUSTOMER_PROFILE.HEADER_LBL_WEBSITES}}</h6></a>
                                    <hr />
                                    <table>


                                        <tr *ngFor="#obj of modelInput.CustomerWebsites; #order = index">
                                            <td style="{{obj.CSSStlye}}">
                                                {{obj.WebSite}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- /.position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>
<style type="text/css">
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color: red;
    }

    input.ng-valid.ng-touched, select.ng-valid.ng-touched {
        background-color: none;
        border-color: none;
    }
    @media screen and (min-width: 500px){
        .autocomplete {
            width:520px;height:30px;
        }
    }
    @media screen and (max-width: 450px){
        .autocomplete {
            width:auto;height:30px;
        }
    }
    /*form .row {
        padding:2px;
    }*/
 
    
</style>
 
<!-- /.main-container -->
