<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type="checkbox"] + label:before, [type="checkbox"] + label:after {
        left: 0;
        right: -25px;
    }

    input[type="checkbox"] + label {
        margin-right: 40px;
    }

    [type="text"] + label:before, [type="text"] + label:after {
        left: 0;
        right: -25px;
        
    }

    input[type="text"] + label {
        margin-right: 40px;
    }

    .table tbody tr .green-text {
        display: none;
    }

    .table tbody tr:last-child .green-text {
        display: block;
    }

    .table tbody tr .red-text {
        display: block;
    }

    input {
        color: Black !important;
        font-weight: bold;
    }

    select {
        color: Black !important;
        font-weight: bold;
    }

    .LeftText {
        text-align: left !important;
    }

    .modal-content {
        /*margin-left: 20px !important;
        margin-right: 20px !important;*/
        /*width: 500px !important;*/
    }

    .modal-dialog {
        width: 650px !important;
    }
    .ForPopUp {
        display:none;
    }
    /*button {
        float: left !important;
    }*/
    /*.card-panel {
        width:500px!important;
    }*/
    /*#EmailTable a {
        display:none
    }*/
</style>
<!-- Start Page Loading -->
<!--<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>-->
<!-- End Page Loading -->
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s12 m12 l12 card-panel">
                <div>
                    <div>
                        <h1>
                            <i class="mdi-content-select-all green-text"></i>
                            <span class="red-text">{{RES.CUSTOMER_SEARCH.APP_LBL_CUSTSEARCH}}</span>  <!--{{RES.CUSTOMER_MASTER.CUST_LABAL}}Customer-->
                            <span class="blue-text" id="id-text2" ng-show="modelInput.CustomerId!='-1'">{{CustIdText}}</span>

                        </h1>

                      <h6>
                          <span class="blue-text">
                              *Search Customer by type name,code,company name,customerid,phoneno,receiptno,last 4 digit of credit card and cheque no of customer and click on search
                          </span>
                      </h6>
                        
                    </div>
                    <div class="position-relative">
                        <div class="visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <!--<div class="col-sm-7">-->
                                    <div class="row">
                                      
                                    </div>
                                    
                                    <hr />
                                    <form>
                                        <!--<fieldset>-->
                                        <div class="row">

                                            <div class="col s12 m8 l8">
                                                <label for="SrchData" class="active">{{RES.CUSTOMER_SEARCH.TXT_LBL_SEARCH}}</label>
                                                <input type="text" id="SrchData" class="form-control" [(ngModel)]="modelInput.SearchContent" maxlength="50"  *ngIf="modelInput.IsExtended==true"/>   <!-- (change)="CheckCustWithfnamelnamecompphsemails()"Last Name*-->
                                                <span class="block"  *ngIf="modelInput.IsExtended==false">
                                                    <input [(ngModel)]="asyncSelectedCar"
                                                           [autocompleteMinLength]="3"
                                                           [autocomplete]="getAsyncData(getCurrentContext())"
                                                           (autocompleteLoading)="changeAutocompleteLoading($event)"
                                                           (autocompleteNoResults)="changeAutocompleteNoResults($event)"
                                                           (autocompleteOnSelect)="autocompleteOnSelect($event)"
                                                           [autocompleteOptionsLimit]="30"
                                                           class="form-control autocomplete" maxlength="906" id="Searchtxt" tabindex="2">
                                                </span>


                                            </div>
                                            <div class="col s12 m4 l4"  *ngIf="modelInput.IsExtended==true">
                                                <button type="button" class="btn waves-effect waves-light green accent-4" id="CustSearchBtn" (click)="SearchCustomer()"  disabled="{{Isbtndisable}}" title="Search Customer by name,code,company name,customerid,phoneno,receiptno,last 4 digit of credit card and cheque no"><i class="mdi-action-search small prefix"></i> Search</button> 

                                                <img src="http://localhost:57998/Images/Loader2.gif" *ngIf="ShowLoader==true" />

                                            </div>
                                            

                                        </div>
                                        
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <div class="input-field">
                                                    <input type="checkbox" id="Extended_" [(ngModel)]="modelInput.IsExtended" style="width:20px" tabindex="36" (change)="ChangeExtendedAttr()"/>
                                                    <label For="Extended_">{{RES.CUSTOMER_SEARCH.CHK_LBL_EXTENDED}}</label>
                                                </div>
                                            </div>
                                        </div>

                                            <!--<div id="CustModal" class="modal modal-fixed-footer MModal" style="z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 481.386px;">
                                                <div class="modal-content">-->
                                                    <div class="row" *ngIf="modelInput.IsExtended==true">
                                                        <div class="col s12 m12 l12">
                                                            <table class="table table-striped"  >
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{RES.CUSTOMER_SEARCH.APP_TXT_PH_CUSTID}}</th>
                                                                        <!--<th>{{RES.CUSTOMER_SEARCH.APP_GRD_LBL_SRCH_LNAME}}</th>
                                                                        <th>{{RES.CUSTOMER_SEARCH.APP_GRD_LBL_SRCH_FNAME}}</th>
                                                                        <th>{{RES.CUSTOMER_SEARCH.APP_TXT_PH_MNAME}}</th>-->
                                                                        <th>{{RES.CUSTOMER_SEARCH.APP_TXT_PH_FILEAS}}</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="#obj of modelInput.custSearchData">
                                                                        <td>{{obj.CustomerId}}</td>
                                                                        <!--<td>{{obj.lname}}</td>
                                                                        <td>{{obj.fname}}</td>
                                                                        <td>{{obj.MiddleName}}</td>-->
                                                                        <td>{{obj.FileAs}}</td>
                                                                        <td><a class="modal-close blue-text" (click)="OpenCustomerCard(obj)" data-dismiss="modal" tabindex="49"><i class="small {{EditIconCss}} blue-text"></i></a></td>
                                                                    </tr>
                                                                    <tr *ngIf="modelInput.IsRowFound==false">
                                                                        <td colspan="3" >{{RES.CUSTOMER_SEARCH.APP_LBL_EMPTYTABLE}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="modal-footer">
                                                    <a class="waves-effect waves-red btn-flat modal-action modal-close {{CHANGEDIR}}">Close</a>
                                                    
                                                </div>-->
                                            <!--</div>-->


</form>
                                </div>
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.login-box -->
                    </div>
                    <!-- /.position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>
<style type="text/css">
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
        background-color: #fcf2f2;
        border-color: red;
    }

    input.ng-valid.ng-touched, select.ng-valid.ng-touched {
        background-color: none;
        border-color: none;
    }
    @media screen and (min-width: 500px){
        .autocomplete {
            width:520px;height:30px;
        }
    }
    @media screen and (max-width: 450px){
        .autocomplete {
            width:auto;height:30px;
        }
    }
    /*form .row {
        padding:2px;
    }*/
 
    
</style>
 
<!-- /.main-container -->
